body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .actions .btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .btn-primary {
    padding: 10px 18px;
    border: 1px solid #00c896;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color:#00c896 ;

  }


  .btn-success {
    background-color: #2ecc71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #search {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  }
  
  th, td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  th {
    background-color: #f5f7fa;
    font-weight: 600;
  }
  
  .badge {
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 13px;
    color: white;
    display: inline-block;
  }
  
  .badge.client {
    background-color: #a4f4c3;
    color: #0e6b50;
  }
  
  .badge.admin {
    background-color: #ffc4c4;
    color: #8a1d1d;
  }
  
  .badge.manager {
    background-color: #d4e4ff;
    color: #2051a8;
  }
  
  .action-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
  }
  
  .action-btn.danger {
    color: #e74c3c;
  }
  















  footer {
    background-color: #0e2b47;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  footer div {
    margin: 10px;
    max-width: 250px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 1rem;
    font-size: 14px;
    background-color: #0e2b47;
    color: #fff;
  }