body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f8fa;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .actions .btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .btn-primary {
    padding: 10px 18px;
    border: 1px solid #00c896;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color:#00c896 ;

  }
  
  .btn-filled {
    background-color: #2ecc9c;
    color: white;
  }
  
  .login-container {
    max-width: 400px;
    margin: 5rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 0.5rem;
  }
  
  .login-container input[type="email"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc9c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .login-container a {
    color: #2ecc9c;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-link {
    text-align: right;
    margin: 8px 0;
  }
  
  footer {
    background-color: #0e2b47;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  footer div {
    margin: 10px;
    max-width: 250px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 1rem;
    font-size: 14px;
    background-color: #0e2b47;
    color: #fff;
  }