<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FundFlow - Connecter l'innovation avec le capital</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <header class="navbar">
    <img src="assets/logo.png" alt="FundFlow" height="30">
    <nav>
      <ul>
        <li><a href="#">Investisseurs</a></li>
        <li><a href="#">Entrepreneurs</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
        <li> <a href="admin.html">administration</a></li>
        
      </ul>
    </nav>
    <div class="actions">
      <a href="connexion.html" class="btn">Connexion</a>
      <a href="incription.html" class="btn btn-primary">Inscription</a>
    </div>
  </header>

  <section class="hero">
    <div class="hero-text">
      <div class="couleur">
        <h1>Connecter <span class="green">l'innovation</span> avec le <span class="blue">capital</span></h1>
      </div>
      <p>FundFlow est la plateforme qui relie les investisseurs aux entrepreneurs et startups à la recherche de financement. Transformez vos idées en réalité ou diversifiez votre portefeuille d'investissement.</p>
      <div class="buttons">
        <a href="#" class="btn-primary">Commencer maintenant</a>
        <a href="#" class="btn-outline" >Comment ça marche →</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="assets/meeting.jpg" alt="Réunion d'équipe">
      <div class="badge">+500 projets financés<br><small>Rejoignez le mouvement</small></div>
    </div>
  </section>

  <footer>
    <div>
      <h4>FundFlow</h4>
      <p>Connecter l'innovation avec le capital pour construire un avenir financier plus inclusif.</p>
    </div>
    <div>
      <h4>Liens Rapides</h4>
      <a href="#">Pour les investisseurs</a><br>
      <a href="#">Pour les entrepreneurs</a><br>
      <a href="#">À propos de nous</a><br>
      <a href="#">FAQ</a>
    </div>
    <div>
      <h4>Légal</h4>
      <a href="#">Politique de confidentialité</a><br>
      <a href="#">Conditions d'utilisation</a><br>
      <a href="#">Mentions légales</a>
    </div>
    <div>
      <h4>Contact</h4>
      <p>123 Avenue de la Finance, 75001 Paris, France<br>
        +33 1 23 45 67 89<br>
        contact@fundflow.fr</p>
    </div>
  </footer>

  <script src="script.js"></script>
</body>
</html>
