<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brainstorm Introduction</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jsaccueil.js"></script>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <img src="assets/logo.png" alt="FundFlow" height="60">
      <nav>
        <a href="apropos.html">A propos</a>
        <a href="contact.html">Contact</a>
        <a href="connexion.php" class="login">connecter</a>
      </nav>
    </header>

    <main class="main-section">
      <div class="left">
        <h1><span>Connecter l'innovation</span><br>avec le capital</h1>
        <p>FundFlow est la plateforme qui relie les investisseurs aux entrepreneurs <br> et startups à la recherche de financement. Transformez vos idées en réalité <br> ou diversifiez votre portefeuille d'investissement.</p>
        <button class="get-started"> 
          <a href="connexion.php" >connecter</a>
          </button>
      </div>
      <div class="right">
        <img src="assets/meeting.png" alt="Illustration de réunion">
      </div>
    </main>

  </div>
</body>

</html>