<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion - FundFlow</title>
  <link rel="stylesheet" href="css/styleconx.css">
  <script src="js/jsconx.js"></script>

</head>
<body>

  <header class="navbar">
    <img src="assets/logo.png" alt="FundFlow" height="30">
    <nav>
      <ul>
        <li><a href="#">Investisseurs</a></li>
        <li><a href="#">Entrepreneurs</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
        <li> <a href="#">administration</a></li>
      </ul>
    </nav>
    <div class="actions">
      <a href="connexion.html" class="btn">Connexion</a>
      <a href="incription.html" class="btn btn-primary" >Inscription</a>
    </div>
  </header>

  <div class="login-container">
    <h2>Connexion</h2>
    <p>Entrez vos identifiants pour accéder à votre espace</p>
    <form>
      <label for="email">Email</label><br>
      <input type="email" id="email" placeholder="nom@exemple.com" required><br>

      <label for="password">Mot de passe</label><br>
      <input type="password" id="password" placeholder="Votre mot de passe" required><br>

      <label>
        <input type="checkbox"> Se souvenir de moi
      </label>
      <div style="text-align: right; margin: 8px 0;">
        <a href="#">Mot de passe oublié?</a>
      </div>

      <button type="submit"> <a href="connexion.html"> Se connecter</a></button>
    </form>
    <p>Pas encore de compte? <a href="incription.html">S’inscrire</a></p>
  </div>

  <footer>
    <div>
      <h4>FundFlow</h4>
      <p>Connecter l'innovation avec le capital pour construire un avenir financier plus inclusif.</p>
    </div>
    <div>
      <h4>Liens Rapides</h4>
      <a href="#">Pour les investisseurs</a><br>
      <a href="#">Pour les entrepreneurs</a><br>
      <a href="#">À propos de nous</a><br>
      <a href="#">FAQ</a>
    </div>
    <div>
      <h4>Légal</h4>
      <a href="#">Politique de confidentialité</a><br>
      <a href="#">Conditions d'utilisation</a><br>
      <a href="#">Mentions légales</a>
    </div>
    <div>
      <h4>Contact</h4>
      <p>123 Avenue de la Finance, 75001 Paris, France<br>
        +33 1 23 45 67 89<br>
        contact@fundflow.fr</p>
    </div>
  </footer>
  <div class="footer-bottom">© 2025 FundFlow. Tous droits réservés.</div>

</body>
</html>